


.verification-block {

  
  border-radius: 15px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100%;  /* Блок занимает 80% ширины правой стороны */
  margin: 50px auto 0;

  @media (max-width: 430px) {
    width: 90%;
  }
}

.verification-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;  /* Выравнивание текста по центру */
   
  @media (max-width: 430px) {
    font-size: 15px;
  }
}

.verification-inputs {
  display: flex;
  justify-content: space-between;
  gap: 11px;

}

.verification-timer {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;

}

.resend-timer {
      font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;

    @media (max-width: 430px) {
    font-size: 12px;
  }
}

.resend-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #3c3c3c;
  cursor: pointer;
  transition: color 0.2s ease;
  width: 100%;  /* Добавлено для того, чтобы текст занимал всю ширину контейнера */
  text-align: center;  /* Выравнивание по центру */
}

.resend-text:hover {
  color: #258DFF;
}

.resend-text.disabled {
  color: #d1d1d1;
  cursor: not-allowed;
}



/* Стили для CodeInput */
.code-input-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 40px 0;

  
}

.code-input-field {
  width: 75px;
  height: 75px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #333;
  background: #E9EDF1;
  border: 2px solid #E9EDF1;
  border-radius: 20px;
  outline: none;
  transition: all 0.2s ease;

  &:focus {
    border-color: #479EFD;
    background: #F5F8FD;
    box-shadow: 0 0 0 3px rgba(71, 158, 253, 0.1);
  }

  &.filled {
    border-color: #479EFD;
    color: #479EFD;
    background: rgba(71, 158, 253, 0.02);
  }

  &:disabled {
    background: #f8f9fa;
    color: #adb5bd;
    cursor: not-allowed;
  }
}