/* src/styles/LoginPage.scss */

.sora-text {
  font-family: 'Open Sans', sans-serif;
}

.login-form {
  margin-top: 55px;  // отступ между полями ввода
  
  @media (max-width: 768px) {
    margin-top: 55px;
  }
}

.login-links {
  display: flex;
  justify-content: space-between; // левая влево, правая вправо
  align-items: center;
  width: 100%;
  align-self: stretch;            // или просто уберите align-self целиком
  margin: 12px 0;

  @media (max-width: 768px) {
    width: 100%;                  // было 90% — убираем
  }

  a { flex: 0 0 auto; }           // ссылки не сжимаются
}

.login-register-link {
  font-family: "Open Sans", sans-serif;  // шрифт для ссылок, если нужно
  font-size: 16px;                  // размер шрифта
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);        // цвет текста, можно настроить
    transition: color 0.25s ease-in-out;
    &:hover {
      color: #258DFF;
    }
}

.login-forgot-link {
  font-family: "Open Sans", sans-serif;  // шрифт для ссылок, если нужно
  font-size: 16px;                  // размер шрифта
  font-weight: 500;                 // добавил для единообразия
  color: #262b31;                   // цвет текста, можно настроить
    transition: color 0.25s ease-in-out;
    &:hover {
      color: #258DFF;
    }
}