// src/styles/ForgotPasswordPage.scss

.forgotpassword-form {
  margin-top: 70px;
  
  @media (max-width: 768px) {
    margin-top: 60px;
  }
}

.forgotpassword-links {
  width: 75%;
  align-self: center;
  
  .forgotpassword-login-link {
    font-family: "Sora", sans-serif;  // шрифт для ссылок, если нужно
    font-size: 15px;                  // размер шрифта
    font-weight: 600;                 // как в RegisterPage
    color: rgba(0, 0, 0, 0.7);        // цвет текста, можно настроить
    text-decoration: none;            // убираем подчеркивание
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  @media (max-width: 768px) {
    width: 90%;
  }
}